body {
    background-color: black;
    background-image: url(gymmifront10.jpg);
    background-repeat: no-repeat;
    background-position: auto;
    background-size: 1535px;

}

.left img {
    display: inline-block;
    width: 80px;
    padding-left: 5px;
    padding-top: 5px;
}

.thirdimg h1 {
    margin-top: 200px;
}

.right {
    position: absolute;
    right: 34px;
    top: 20px;
    display: inline-block;

}

.navbar1 {

    display: inline-block;

}

.navbar1 li {
    display: inline-block;
    font-size: 20px;
}

.navbar1 li a {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    text-decoration: none;
    padding: 4px 30px;
    border-radius: 20px;
}

.navbar1 li a:hover {
    background-color: rgb(248, 5, 5);
}

.right .navbar1 li  .active{
    color: red;
  }