body {
  background-color: black;
  background-image: url(gymmifront7.jpg);
  background-repeat: no-repeat;
  background-position: auto;
  background-size: 1535px;

}

.comingsoon img {
  position: absolute;
  /* border: 4px solid #fff; */
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  margin-left: 900px;
  margin-top: 150px;
}

.btn {
  width: 200px;
  height: 30px;
  color: white;
  background-color: red;
  border: 2px solid red;
  border-radius: 15px;
  text-align: center;
  font-size: large;
}

.btn:hover {
  background-color: rgb(246, 101, 101);
  color: red;
}

.mainname {
  position: absolute;
  color: red;
  display: block;
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 200px;
  margin-top: 115px;
}

.container {
  z-index: 5;
  position: absolute;
  color: white;
  display: block;
  margin-top: 200px;
  margin-left: 200px;
}

.menu {
  width: 25px;
  height: 3px;
  background-color: red;
  margin: 6px 0;
}

.left img {
  display: inline-block;
  width: 80px;
  padding-left: 5px;
  padding-top: 5px;
}

.thirdimg h1 {
  margin-top: 200px;
}

.right {
  position: absolute;
  right: 34px;
  top: 20px;
  display: inline-block;

}

.navbar1 {

  display: inline-block;

}

.navbar1 li {
  display: inline-block;
  font-size: 20px;
}

.navbar1 li a {
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  text-decoration: none;
  padding: 4px 30px;
  border-radius: 20px;
}

.navbar1 li a:hover {
  background-color: rgb(248, 5, 5);
}

.right .navbar1 li .active {
  color: red;
}

.follow {
  color: red;
  padding-left: 46%;
  padding-top: 1030px;
}

.socialmedia {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
}

.socialicon {
  display: inline-flex;
}

.socialicon .icon {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.socialicon .icon a {
  position: relative;
  height: 60px;
  width: 60px;
  display: block;
  /* background: #fff; */
  text-align: center;
  border-radius: 50%;
  z-index: 2;
  box-shadow: 0 10 10 rgba(0, 0, 0, 0.1);
}

.socialicon .icon a i {
  color: red;
  font-size: 25px;
  line-height: 60px;
}

.socialicon .icon:hover a i {
  color: #fff;
}

.socialicon .icon:hover a {
  color: #fff;
}

.socialicon .icon .name {
  position: absolute;
  top: 0px;
  background: #fff;
  color: #fff;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10 10 rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.socialicon .icon:hover .name {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}

.socialicon .icon .name:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

.socialicon .icon:hover a,
.socialicon .icon:hover .name {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.socialicon #facebook:hover a,
.socialicon #facebook:hover .name,
.socialicon #facebook:hover .name:before {
  background: #3B5999;
}

.socialicon #linkedin:hover a,
.socialicon #linkedin:hover .name,
.socialicon #linkedin:hover .name:before {
  background: #1247bb;
}

.socialicon #instagram:hover a,
.socialicon #instagram:hover .name,
.socialicon #instagram:hover .name:before {
  background: #ea1b2c;
}